name: Lint

on:
  pull_request:

jobs:
  lint-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Check Black format compliance
        uses: psf/black@stable
        with:
          options: "--diff --check"
          jupyter: 'true'
          src: "./docs ./src ./tests"
